<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
   
	<context:component-scan base-package="com.clive"/>
	<!-- 加载log4j配置文件 -->
	<context:property-placeholder location="classpath:db.properties"/>
	<context:property-placeholder location="classpath:log4j.properties"/>
    <!-- 编写数据库连接池 -->
    <bean id ="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
    <!-- 创建德鲁伊对象的同时使用 spring的DI给这个类的属性赋值 -->
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="maxActive" value="${jdbc.maxActive}" />
		<property name="minIdle" value="${jdbc.minIdle}" />
    </bean>
    <!-- 5.配置事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<!-- 数据源 -->
		<property name="dataSource" ref="dataSource" />		
	</bean>
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="insert*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="find*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="get*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="search*" propagation="SUPPORTS" read-only="true" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:advisor advice-ref="txAdvice"
			pointcut="execution(* com.clive.service.*.*(..))" />
	</aop:config>
	<!-- 6.spring管理mybatis对象 -->
    <bean id= "sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    <!-- 1.mybatis核心配置文件 -->
       <property name="configLocation" value="classpath:SqlMapConfig.xml"/>
       <!-- 2.加载一个数据库连接池 -->
		<property name="dataSource" ref="dataSource" />
    </bean>
    <!-- 7.使用spring来管理mybatis的映射文件 扫描指定包下面的所有的mybatis的映射文件吧映射文件加入到spring容器来管理 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 遵循mybatis的规则 -->
		<property name="basePackage" value="com.clive.mapper" />
	</bean>
</beans>
